<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="google-site-verification" content="iyS0VrM9ddY16aiOZLv39nIZR1KDwwCoqgtXBUZXVEo" />
<title>Loren Yu's Homepage</title>

<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-13105739-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();

</script>

<div id="container">
	<div id="content">
		<h1 id="title">Test Test</h1>

		<div class="section">
			<div class="section-header"><h2>About Me</h2></div>
			<div class="section-content">
				<p>I'm a product manager at <a href="http://experienceproject.com">Experience Project</a>. I graduated in December 2009 from Stanford University with a masters in computer science with my concentration in human-computer interaction. I was born and grew up in L.A. county, and went to a Montessori school for kindergarten and elementary school. Afterwards, I went to high school at Flintridge Preparatory School in La Canada.</p>
				<p>I love to draw, and I also really enjoy playing the guitar. Back in high school I liked to breakdance.</p>
				<p>My favorite sport is basketball, but I also like table tennis. I also enjoy playing whatever: tennis, soccer, volleyball, ultimate frisbee, etc., but I'm not a fan of baseball. I like skiing too, but I suck at it and I don't really like cold weather.</p>
			</div>
		</div>

		<div class="section">
			<div class="section-header"><h2>Quotes</h2></div>
			<div class="section-content">
			<p>Originality is the fine art of remembering what you hear but forgetting where you heard it.</p>
			</div>
		</div>

		<div class="section">
			<div class="section-header"><h2>Projects</h2></div>
			<div class="section-content">
			<a href="./rubikstanks/index.html">Rubiks Tanks</a><br/>
			<a href="./cs247/index.html">CS 247</a><br/>
			<a href="./me203/index.html">ME 203</a><br/>
			</div>
		</div>
		
		<div class="section">
			<div class="section-header"><h2>Groups</h2></div>
			<div class="section-content">
			<a href="./vienneseball.html">Viennese Ball Opening Committee</a><br/>
			</div>
		</div>
		
		<div class="section">
			<div class="section-header"><h2>Me on the Web</h2></div>
			<div class="section-content">
			<a href="http://stvp.stanford.edu/teaching/mfp/alumni.html">Loren Yu in Mayfield Fellows</a><br/>
			<a href="http://bboyfenix17.deviantart.com">Loren Yu on Deviant Art</a><br/>
			<a href="http://experienceproject.com/leadership.php">Loren Yu at Experience Project</a><br/>
			<a href="http://community.siebelscholars.com/">Siebel Scholars</a>
			</div>
		</div>
	</div>
</div>
</body>


</html>
